<center>
    <div style="background-color: black;
                box-shadow: 10px 10px 5px #aaaaaa;
                border-radius: 3em;
                padding: 4em 1em ;
                color: white;
                width: calc(60%);
                height: calc(65%);">
        <h3 style="font-family: Cursive,Fantasy;">{{ site_name }}</h3>
        <p>Ha recibido un email de: <strong style="font-family: Cursive,Fantasy;">{{ user.first_name }}!</strong></p>
        <p>Correo Electronico: <strong style="font-family: Cursive,Fantasy;">{{ user.email }}!</strong></p>
        <p>Celular: <strong style="font-family: Cursive,Fantasy;">{{ user.user_phone }}!</strong></p>
        <p>Comentario:</p>
        <p><strong style="font-family: Cursive,Fantasy;">{{ user.comentary }}!</strong></p>       
    </div>
</center>